{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">
    {# Welcome Message - Logo #}
    <div class="welcome text-center">
        <h1><i class="fab fa-pagelines"></i> {{ site_name }} - Administration</h1>
    </div>

    {# Forms #}
    <div class="card">
        <div class="text-white">
            {# Menus #}
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item bg-info border border-info active">
                    <a class="card-title active" href="#login" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-unlock-alt"></i> Connexion
                    </a>
                </li>
                <li class="nav-item bg-secondary border border-secondary">
                    <a class="card-title" href="#resetting" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-sync"></i> Mot de passe oublié
                    </a>
                </li>
            </ul>

        </div>

        <div class="card-body tab-content">
            <hr class="colorgraph">
            {# Error messages #}
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fas fa-exclamation-triangle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {# Login form #}
            <div id="login">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group form-group-control">
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="{{ 'security.login.username'|trans }}" />
                    </div>

                    <div class="form-group form-group-control">
                        <input type="password" id="password" class="form-control" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}" />
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input type="submit" id="_submit" class="btn btn-info float-right" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>
            </div>

            {# Resetting form #}
            <div id="resetting">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="form-group form-group-control">
                        <input type="text" id="username" class="form-control" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
                    </div>

                    <input type="submit" class="btn btn-info float-right" value="{{ 'resetting.request.submit'|trans }}" />
                </form>
            </div>
        </div>
    </div>


</div>

