{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">

    <div class="col-md-4 offset-md-4">
        {# Welcome Message - Logo #}
        <div class="welcome text-center">
            <h1><i class="fab fa-pagelines"></i> {{ site_name }} - Administration</h1>
        </div>

        {# Forms #}
        <div class="card">
            <div class="card-header text-white bg-info">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a class="card-title active" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-unlock-alt"></i> Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="card-title" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Mot de passe oublié
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body" id="accordion">
                <hr class="colorgraph">
                {# Login form #}
                <form action="{{ path("fos_user_security_check") }}" method="post" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="form-group form-group-control row">
                        <label for="username" class="col-4 col-form-label">{{ 'security.login.username'|trans }} *</label>
                        <input type="text" id="username" class="col-8 form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </div>

                    <div class="form-group form-group-control row">
                        <label for="password" class="col-4 col-form-label">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" class="col-8 form-control" name="_password" required="required" autocomplete="current-password" />
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input type="submit" id="_submit" class="btn btn-info float-right" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </form>

                {# Resetting form #}
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="form-group form-group-control row">
                        <label for="username" class="col-7 col-form-label">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" class="col-5 form-control" name="username" required="required" />
                    </div>

                    <input type="submit" class="btn btn-info float-right" value="{{ 'resetting.request.submit'|trans }}" />
                </form>

            </div>
        </div>


    </div>
</div>

