{% extends '@KvikAdmin/layout.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'kvik_admin_post_edit' %}Modifier {% if type == "page" %}la page{% else %}l'article{% endif %}
    {% else %}Créer {% if type == "page" %}une nouvelle page{% else %}un nouvel article{% endif %}
    {% endif %}
{% endblock title %}

{% block page_h1 %}
    <h1>
        {% if app.request.attributes.get('_route') == 'kvik_admin_post_edit' %}Modifier {% if type == "page" %}la page{% else %}l'article{% endif %}
        {% else %}Créer {% if type == "page" %}une nouvelle page{% else %}un nouvel article{% endif %}
        {% endif %}
    </h1>
{% endblock %}

{% block container %}
    {{ form_start(form, {'attr': {'autocomplete':'off'} }) }}
        <div class="form-row">
            <div class="col-md-8">
                {# title #}
                <div class="form-group">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'article' } }) }}
                </div>
                {# slug displayed only in edit mode #}
                {% if form.slug is defined %}
                    <div class="form-group">
                        <div class="input-group mb-3">
                            {{ form_errors(form.slug) }}
                            {{ form_widget(form.slug, {'attr': {'class': 'form-control', 'placeholder': 'Identifiant unique' } }) }}
                        </div>
                    </div>
                {% endif %}
                {# body #}
                <div class="form-group">
                    {{ form_errors(form.body) }}
                    {{ form_widget(form.body, {'attr': {'class': 'form-control', 'placeholder': 'Contenu de l\'article' } }) }}
                </div>

                <hr>
                {# excerpt #}
                <div class="form-group">
                    {{ form_errors(form.excerpt) }}
                    {{ form_label(form.excerpt, 'Extrait') }}
                    {{ form_widget(form.excerpt, {'attr': {'class': 'form-control', 'placeholder': 'Les extraits sont des résumés facultatifs de vos contenus, écrits à la main. Si vous n\'en renseignez pas, les 200 premiers caractères de votre article feront office d\'extrait.' } }) }}
                </div>
                {# commentStatus #}
                {% if form.commentStatus is defined %}
                <hr>
                <div class="form-group">
                    {% block closed_widget %}
                        {% spaceless %}
                            <div class="row">
                                <div class="col-12">
                                    {{ form_label(form.commentStatus, 'Commentaires :') }}
                                </div>
                                {% for child in form.commentStatus %}
                                    {{ block('widget_container_attributes') }}
                                    <div class="col-4 radio-inline">
                                        {{ form_widget(child) }}
                                        {{ form_label(child) }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endspaceless %}
                    {% endblock %}
                </div>
                {% endif %}

                {# Last editor #}
                {% if post.editor is defined %}
                    <hr>
                    <cite>Dernière modification le {{ post.dateEdit|date('d/m/Y') }} par {{ post.editor.username }}.</cite>
                {% endif %}
            </div>

            <div class="col-md-4">
                {# postStatus #}
                <div class="form-group">
                    {{ form_errors(form.postStatus) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.postStatus, 'Etat') }}</div>
                        <div class="col-8">{{ form_widget(form.postStatus, {'attr': {'class': 'form-control' } }) }}</div>
                    </div>
                </div>
                {# privacy #}
                <div class="form-group">
                    {{ form_errors(form.privacy) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.privacy, 'Confidentialité') }}</div>
                        <div class="col-8">{{ form_widget(form.privacy, {'attr': {'class': 'form-control' } }) }}</div>
                    </div>
                </div>
                {# postPassword #}
                <div class="form-group">
                    {{ form_errors(form.postPassword) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.datePub, 'Mot de passe') }}</div>
                        <div class="col-8">{{ form_widget(form.postPassword, {'attr': {'class': 'form-control', 'placeholder': 'Si votre contenu est privé.'} }) }}</div>
                    </div>
                </div>
                {# dateEdit displayed only in edit mode #}
                {% if form.dateEdit is defined %}
                    <div class="form-group">
                        {{ form_errors(form.dateEdit) }}
                        <div class="row">
                            <div class="col-4">{{ form_label(form.dateEdit, 'Modifié le ') }}</div>
                            <div class="col-8">{{ form_widget(form.dateEdit) }}</div>
                        </div>
                    </div>
                {% endif %}
                {# datePub #}
                <div class="form-group">
                    {{ form_errors(form.datePub) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.datePub, 'Date de publication') }}</div>
                        <div class="col-8">{{ form_widget(form.datePub) }}</div>
                    </div>
                </div>
                {# author #}
                <hr>
                <div class="form-group">
                    {{ form_errors(form.author) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.author, 'Auteur') }}</div>
                        <div class="col-8">{{ form_widget(form.author, {'attr': {'class': 'form-control' } }) }}</div>
                    </div>
                </div>
                {# metadescription #}
                <hr>
                <div class="form-group">
                    {{ form_errors(form.metadescription) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.metadescription, 'Meta-description') }}</div>
                        <div class="col-8">{{ form_widget(form.metadescription, {'attr': {'class': 'form-control', 'placeholder': 'La meta-description n\'est pas obligatoire, mais fortement recommandée' } }) }}</div>
                    </div>
                </div>


                {# deletePost button #}
                <hr>
                <div class="form-group">
                    <div class="row">
                        {% if app.request.attributes.get('_route') == 'kvik_admin_post_edit' %}
                            <div class="col-6">
                                <a href="{{ path('kvik_admin_post_trash', {'id': post.id, 'type':post.postType}) }}" class="text-danger">Déplacer vers la corbeille</a>
                            </div>
                        {% endif %}
                        <div class="col-6 float-right">
                            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-info float-right'} }) }}
                        </div>
                    </div>
                </div>
                <hr>
                {# terms #}
                {% if form.terms is defined %}
                    <div class="form-group">
                        {{ form_errors(form.terms) }}
                        <div class="row">
                            <div class="col-4">{{ form_label(form.terms, 'Catégories') }}</div>
                            <div class="col-8 div-list">
                                <div class="form-control">
                                    {% for child in form.terms %}
                                        {% set index = child.vars.value %}{# get array index #}
                                        {% set term = form.terms.vars.choices[index].data %}{# get post object #}

                                        {% if term.termType == 1 %}
                                            {{ block('widget_container_attributes') }}
                                            <div>
                                                {{ form_widget(child) }}
                                                {{ form_label(child) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">{{ form_label(form.terms, 'Etiquettes : ') }}</div>
                            <div class="col-8">
                                <div class="form-control">
                                    {% for child in form.terms %}
                                        {% set index = child.vars.value %}{# get array index #}
                                        {% set term = form.terms.vars.choices[index].data %}{# get post object #}
                                        {% if term.termType == 2 %}
                                            {{ block('widget_container_attributes') }}
                                            <div class="tags">
                                                {{ form_widget(child) }}
                                                {{ form_label(child) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# parent #}
                {% if form.parent is not null %}
                    <div class="form-group">
                        {{ form_errors(form.parent) }}
                        <div class="row">
                            <div class="col-4">{{ form_label(form.parent, 'Parent') }}</div>
                            <div class="col-8 div-list">
                                <div class="form-control">
                                    {% for child in form.parent %}
                                        {{ block('widget_container_attributes') }}
                                        <div class="parent-list">
                                            {{ form_widget(child) }}
                                            {{ form_label(child) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
