{% extends '@KvikAdmin/layout.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'kvik_admin_post_edit' %}Modifier {% if type == "page" %}la page{% else %}l'article{% endif %}
    {% else %}Créer {% if type == "page" %}une nouvelle page{% else %}un nouvel article{% endif %}
    {% endif %}
{% endblock title %}


{% block container %}
    <h1>
        {% if app.request.attributes.get('_route') == 'kvik_admin_post_edit' %}Modifier {% if type == "page" %}la page{% else %}l'article{% endif %}
        {% else %}Créer {% if type == "page" %}une nouvelle page{% else %}un nouvel article{% endif %}
        {% endif %}
    </h1>

    {{ form_start(form, {'attr': {'autocomplete':'off'} }) }}
        <div class="form-row">
            <div class="col-md-8">
                {# title #}
                <div class="form-group">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'article' } }) }}
                </div>
                {# slug displayed only in edit mode #}
                {% if form.slug is defined %}
                    <div class="form-group">
                        <div class="input-group mb-3">
                            {{ form_errors(form.slug) }}
                            {{ form_widget(form.slug, {'attr': {'class': 'form-control', 'placeholder': 'Identifiant unique' } }) }}
                        </div>
                    </div>
                {% endif %}
                {# body #}
                <div class="form-group">
                    {{ form_errors(form.body) }}
                    {{ form_widget(form.body, {'attr': {'class': 'form-control', 'placeholder': 'Contenu de l\'article' } }) }}
                </div>

                <hr>
                {# excerpt #}
                <div class="form-group">
                    {{ form_errors(form.excerpt) }}
                    {{ form_widget(form.excerpt, {'attr': {'class': 'form-control', 'placeholder': 'Texte de présentation de l\'article' } }) }}
                </div>
                {# metadescription #}
                <div class="form-group">
                    {{ form_errors(form.metadescription) }}
                    {{ form_widget(form.metadescription, {'attr': {'class': 'form-control', 'placeholder': 'La meta-description n\'est pas obligatoire, mais fortement recommandée' } }) }}
                </div>

                {# author #}
                <hr>
                <div class="form-group">
                    {{ form_errors(form.author) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.author, 'Auteur') }}</div>
                        <div class="col-8">{{ form_widget(form.author, {'attr': {'class': 'form-control' } }) }}</div>
                    </div>
                </div>

                {# commentStatus #}
                {% if post.editor is defined and post.postType != 'page' %}
                <hr>
                <div class="form-group">
                    {% block closed_widget %}
                        {% spaceless %}
                            <div class="row">
                                <div class="col-12">
                                    {{ form_label(form.commentStatus, 'Commentaires :') }}
                                </div>
                                {% for child in form.commentStatus %}
                                {{ block('widget_container_attributes') }}
                                <div class="col-4 radio-inline">
                                    {{ form_widget(child) }}
                                    {{ form_label(child) }}
                                </div>
                            {% endfor %}
                            </div>
                        {% endspaceless %}
                    {% endblock %}
                </div>
                {% endif %}

                {# Last editor #}
                {% if post.editor is defined %}
                    <hr>
                    <cite>Dernière modification le {{ post.dateEdit|date('d/m/Y') }} par {{ post.editor.username }}.</cite>
                {% endif %}
            </div>

            <div class="col-md-4">
                {# postStatus #}
                <div class="form-group">
                    {{ form_errors(form.postStatus) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.postStatus, 'Etat') }}</div>
                        <div class="col-8">{{ form_widget(form.postStatus, {'attr': {'class': 'form-control' } }) }}</div>
                    </div>
                </div>
                {# privacy #}
                <div class="form-group">
                    {{ form_errors(form.privacy) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.privacy, 'Confidentialité') }}</div>
                        <div class="col-8">{{ form_widget(form.privacy, {'attr': {'class': 'form-control' } }) }}</div>
                    </div>
                </div>
                {# postPassword #}
                <div class="form-group">
                    {{ form_errors(form.postPassword) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.datePub, 'Mot de passe') }}</div>
                        <div class="col-8">{{ form_widget(form.postPassword, {'attr': {'class': 'form-control', 'placeholder': 'Si votre contenu est privé.'} }) }}</div>
                    </div>
                </div>
                {# dateEdit displayed only in edit mode #}
                {% if form.dateEdit is defined %}
                    <div class="form-group">
                        {{ form_errors(form.dateEdit) }}
                        <div class="row">
                            <div class="col-4">{{ form_label(form.dateEdit, 'Modifié le ') }}</div>
                            <div class="col-8">{{ form_widget(form.dateEdit) }}</div>
                        </div>
                    </div>
                {% endif %}
                {# datePub #}
                <div class="form-group">
                    {{ form_errors(form.datePub) }}
                    <div class="row">
                        <div class="col-4">{{ form_label(form.datePub, 'Date de publication') }}</div>
                        <div class="col-8">{{ form_widget(form.datePub) }}</div>
                    </div>
                </div>
                {# deletePost button #}
                {% if app.request.attributes.get('_route') == 'kvik_admin_post_edit' %}
                <a href="{{ path('kvik_admin_post_trash', {'id': post.id}) }}" class="text-danger">Déplacer vers la corbeille</a>
                {% endif %}
                <hr>
                {# terms #}
                {% if form.dateEdit is defined and post.postType != 'page' %}
                    <div class="form-group">
                    {{ form_errors(form.terms) }}
                    {{ form_label(form.terms, 'Catégories') }}
                    <div class="form-control">
                        {{ form_widget(form.terms) }}
                    </div>
                </div>
                {% endif %}
                {# parent #}
                {% if form.parent is defined %}
                    <div class="form-group">
                        {{ form_errors(form.parent) }}
                        <div class="row">
                            <div class="col-4">{{ form_label(form.parent, 'Parent') }}</div>
                            <div class="col-8">{{ form_widget(form.parent, {'attr': {'class': 'form-control' } }) }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-12">
                <hr>
                {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success float-right'} }) }}
                {% block add_buttons %}{% endblock %}
            </div>
        </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
