{% extends '@KvikAdmin/layout.html.twig' %}

{% block title %}
    {% if type == "page" %}Pages{% else %}Articles{% endif %}
{% endblock title %}

{% block page_h1 %}
    {% if type == "page" %}Pages{% else %}Articles{% endif %}
{% endblock %}

{% block container %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Catégories</th>
            <th scope="col">Tags</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% if posts is empty %}
            <tr>
                <td colspan="6">
                    Aucun{% if type == "page" %}e trouvée. Créez votre première page.{% else %} article trouvé. Créez votre premier article.{% endif %}
                </td>
            </tr>
        {% else %}
            {% for post in posts %}
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <a href="{{ path('kvik_admin_post_edit', {'id': post.id }) }}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td>
                        xxx
                    </td>
                    <td>
                        {% for cat in post.terms %}
                            {{ cat.name }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>4</td>
                    <td>
                        {% if post.postStatus == 2 %}
                            Publié le {{ post.datePub|date('d/m/Y') }}
                        {% else %}
                            Modifié le {{ post.dateEdit|date('d/m/Y') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
