{% extends '@KvikAdmin/layout.html.twig' %}

{% block title %}
    {% if type == "page" %}Pages{% else %}Articles{% endif %}
{% endblock title %}

{% block page_h1 %}
    <h1>{% if type == "page" %}Pages{% else %}Articles{% endif %}</h1>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-10">
            <ul class="nav filters">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.query.get('status') is null %}active{% endif %}" href="{{ path(app.request.attributes.get('_route'), {'type':type}) }}">Tous</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.query.get('status') == 'publish' %}active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'status':'publish', 'type':type})) }}">Publié(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.query.get('status') == 'draft' %}active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'status':'draft', 'type':type})) }}">Brouillon(s)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link trash {% if app.request.query.get('status') == 'trash' %}active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'status':'trash', 'type':type})) }}">Corbeille</a>
                </li>
                {% if ('cat' in app.request.query|keys) or ('tag' in app.request.query|keys) or ('author' in app.request.query|keys) %}
                <li class="nav-item remove-filters">
                    <a href="{{ path(app.request.attributes.get('_route'), {'type':type}) }}">Supprimer les filtres <i class="fas fa-times"></i></a>
                </li>
                {% endif %}

            </ul>
        </div>
        <div class="col-2 justify-content-end">
            <a href="{{ path('kvik_admin_post_add', {'type': type}) }}" class="btn btn-info float-right">Ajouter</a>
        </div>
    </div>
    {# form in Table #}
    {{ form_start(form) }}
    {# group Actions Buttons #}
    <div class="row">
        <div class="col-8 form-inline">
            {{ form_errors(form.status) }}
            {{ form_label(form.status, 'Actions groupées', {'label_attr': {'class': 'inlinge-marge-r'}}) }}
            {{ form_widget(form.status, {'attr': {'class': 'form-control'} }) }}
            {# validation Button #}
            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-info inlinge-marge'} }) }}
        </div>

        <div class="col-4 nav justify-content-end post_info">
            <div class="post_total">
                {{ form.post|length }} éléments sur {{ total }}
            </div>
            <ul class="pagination pagination-sm">
            {% if total > 20 %}
                {% set total_pges = (total /20)|round(0, 'ceil') %}

                {% if app.request.query.get('pge') is not null %}
                    {% set pge = app.request.query.get('pge') %}
                {% else %} {% set pge = 1 %} {% endif %}
                {% set i = max(1, (app.request.query.get('pge') - 5)) %}
                {% set j = min((app.request.query.get('pge') + 5), total_pges) %}

                {% for i in 1..j %}
                    {% if (i != 1) and (i == max(1, (app.request.query.get('pge') - 5))) %}
                        <li class="page-item">
                            <span class="page-link">Début</span>
                        </li>
                    {% elseif i == pge %}
                        <li class="page-item active">
                            <span class="page-link">{{ pge }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pge':i})) }}">{{ i }}</a>
                        {% if (i == min((app.request.query.get('pge') + 5), total)) and (i != total_pges) %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'pge':total_pges})) }}">Fin</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
        </div>

    </div>

    {# posts #}
    <table class="table table-hover table-striped posts">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                {% if type == 'post' %}
                    <th scope="col">Catégories</th>
                    <th scope="col">Tags</th>
                {% else %}
                    <th scope="col">Parent</th>
                {% endif %}
                <th scope="col">Auteur</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% if form.post is empty %}
            <tr>
                <td colspan="{% if type == 'post' %}6{% else %}5{% endif %}" class="title">
                    Aucun article trouvé. Vous pouvez <a href="{{ path('kvik_admin_post_add', {'type':type}) }}">créer votre {% if type == "page" %}première page{% else %}premier article{% endif %}</a>.
                </td>
            </tr>
        {% else %}
            {% for child in form.post %}
                {% set index = child.vars.value %}{# get array index #}
                {% set post = form.post.vars.choices[index].data %}{# get post object #}
                <tr>
                    <th scope="row" class="labelCheckbox">
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </th>
                    <td class="title">
                        <a href="{{ path('kvik_admin_post_edit', {'id': post.id, 'type': post.postType }) }}" {% if app.request.query.get('status') == 'trash' %}class="in-trash" {% endif %}>
                            {% if post.postStatus == 'publish' %}<b>{{ post.title }}</b>
                            {% else %}{{ post.title }}{% endif %}
                        </a>
                    </td>
                    {% if type == 'post' %}
                        <td>
                            {% set catsArray = [] %}
                            {% for cat in post.terms if cat.termType == 1 %}
                                {% set catsArray = catsArray|merge([cat]) %}
                            {% endfor %}

                            {% for cat in catsArray %}
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'cat':cat.slug, 'type': post.postType})) }}">{{ cat.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% set tagsArray = [] %}
                            {% for tag in post.terms if tag.termType == 2 %}
                                {% set tagsArray = tagsArray|merge([tag]) %}
                            {% endfor %}

                            {% if tagsArray is empty %}-
                            {% else %}
                                {% for tag in tagsArray %}
                                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'tag':tag.slug, 'type': post.postType})) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% else %}
                        <td>
                            {% if post.parent is not null %}
                            <a href="{{ path('kvik_admin_post_edit', {'id': post.parent.id, 'type': post.parent.postType}) }}">
                                {{ post.parent.title }}
                            </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'author':post.author.username, 'type': post.postType })) }}">
                            {{ post.author.firstname }} {{ post.author.name }}
                        </a>
                    </td>
                    <td>
                        {% if post.postStatus == 'publish' %}
                            Publié le {{ post.datePub|date('d/m/Y') }}
                        {% else %}
                            Modifié le {{ post.dateEdit|date('d/m/Y') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
