{% extends '@KvikAdmin/layout.html.twig' %}

{% block title %}
    {% if type == "page" %}Pages{% else %}Articles{% endif %}
{% endblock title %}

{% block page_h1 %}
    {% if type == "page" %}Pages{% else %}Articles{% endif %}
{% endblock %}

{% block container %}
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path(app.request.attributes.get('_route')) }}">Tous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'status':'publish'})) }}">Publié(s)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'status':'draft'})) }}">Brouillons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'status':'trash'})) }}">Corbeille</a>
            </li>
        </ul>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Catégories</th>
            <th scope="col">Tags</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% if posts is empty %}
            <tr>
                <td colspan="6">
                    Aucun{% if type == "page" %}e trouvée. Créez votre première page.{% else %} article trouvé. Créez votre premier article.{% endif %}
                </td>
            </tr>
        {% else %}
            {% for post in posts %}
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <a href="{{ path('kvik_admin_post_edit', {'id': post.id }) }}">
                            {% if post.postStatus == 'publish' %}<b>{{ post.title }}</b>
                            {% else %}{{ post.title }}{% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'author':post.author.username})) }}">
                            {{ post.author.firstname }} {{ post.author.name }}
                        </a>
                    </td>
                    <td>
                        {% for cat in post.terms %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'cat':cat.slug})) }}">
                                {{ cat.name }}
                            </a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>4</td>
                    <td>
                        {% if post.postStatus == 2 %}
                            Publié le {{ post.datePub|date('d/m/Y') }}
                        {% else %}
                            Modifié le {{ post.dateEdit|date('d/m/Y') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
