<!doctype HTML>
<html lang="fr">
    <head>
        <title>{% block title %}{% endblock title %} &rsaquo; Admin &mdash; {{ site_name }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        {% stylesheets '@KvikAdminBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('kvik_admin_index') }}"><i class="fas fa-hashtag"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {# Dashbord#}
                        <li class="nav-item {% if 'kvik_admin_index' == app.request.attributes.get('_route') %}active{% endif %}">
                            <a class="nav-link" href="{{ path('kvik_admin_index') }}">
                                <i class="fas fa-inbox"></i> Tableau de bord
                            </a>
                        </li>
                        {# Posts #}
                        <li class="nav-item dropdown {% if 'post' in app.request.uri and 'page' not in app.request.uri %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-copy"></i> Articles
                            </a>
                            <div class="dropdown-menu dropdown-menu-left a-hover size-little" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('kvik_admin_post_add', {'type':'post'}) }}">
                                    <i class="fas fa-plus-circle"></i> Ajouter
                                </a>
                                <a class="dropdown-item" href="{{ path('kvik_admin_post', {'type':'post'}) }}">
                                    <i class="fas fa-list"></i> Tous les articles
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-trash-alt"></i> Corbeille
                                </a>
                            </div>
                        </li>
                        {# Categories #}
                        <li class="nav-item {% if 'categories' in app.request.uri %}active{% endif %}">
                            <a class="nav-link" href="{{ path('kvik_admin_categories') }}">
                                <i class="fas fa-list-alt"></i> Catégories
                            </a>
                        </li>
                        {# Pages #}
                        <li class="nav-item dropdown {% if 'page' in app.request.uri %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-file-powerpoint"></i> Pages
                            </a>
                            <div class="dropdown-menu dropdown-menu-left a-hover size-little" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('kvik_admin_post_add', {'type':'page'}) }}">
                                    <i class="fas fa-plus-circle"></i> Ajouter
                                </a>
                                <a class="dropdown-item" href="{{ path('kvik_admin_post', {'type':'page'}) }}">
                                    <i class="fas fa-list"></i> Toutes les pages
                                </a>
                            </div>
                        </li>
                        {# Users #}
                        <li class="nav-item dropdown {% if 'admin_user' in app.request.uri %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-users"></i> Utilisateurs
                            </a>
                            <div class="dropdown-menu dropdown-menu-left a-hover size-little" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('kvik_admin_user_add') }}">
                                    <i class="fas fa-plus-circle"></i> Ajouter
                                </a>
                                <a class="dropdown-item" href="{{ path('kvik_admin_users') }}">
                                    <i class="fas fa-list"></i> Tous les utilisateurs
                                </a>
                            </div>
                        </li>
                        {# Help #}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                <i class="fas fa-info-circle"></i> À l'aide
                            </a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </header>

        <main>
            <h1>{% block page_h1 %}{% endblock %}</h1>
            {% block container %}
            {% endblock container %}
        </main>

        <footer>
        </footer>

        <!--Other JS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </body>
</html>