{% extends '@KvikAdmin/layout.html.twig' %}

{% if app.request.get('type') == 'categories' %} {% set type = 'la catégoire' %}
{% else %} {% set type = 'l\'étiquette' %} {% endif %}

{% block title %}Modifier  {{ type }} {% endblock title %}

{% block page_h1 %}<h1>Modifier {{ type }}</h1>{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-8">
            {{ form_start(form) }}
                {% include '@KvikAdmin/Term/formType.html.twig' %}
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {# remove #}
            <div class="form-group">
                <a href="{{ path('kvik_admin_term_delete', {'id': term.id, 'type': app.request.get('type')}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprmier cet élément ?');">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}
